@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
html{
    font-family: "Space Grotesk", serif;
}

header{
    height: 150px;
    background-color: rgb(52, 64, 77);
    background-color: rgb(40, 50, 65);
    position: relative;
   
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.title{
    position: absolute;
    top: 32px; 
    padding-right: 6rem;
}
.title:hover{
    color: rgba(225, 211, 211, 0.763);
    
    transition-behavior: linear;
    
}
.input-container{
    display: flex;

}
.text {
    position: relative;
    display: flex;
    align-items: center;
    background: transparent;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    
    
    color: white;
.text:hover{
    box-shadow: 0 4px 10px rgba(96, 90, 88, 0.5);
}


}
.text input {
    border: none;
    outline: none;
    padding: 12px 20px;
    font-size: 16px;
    width: 250px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.3);    
    
    transition: 0.3s ease;
}

.search{
    border: none;
    outline: none;
    background: transparent;
    color: white;
    padding: 12px 20px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
}

.search:hover {
    background: rgb(40, 50, 65);
    box-shadow: 0 4px 10px rgba(96, 90, 88, 0.5);
}



main{
    height: calc(100vh - 150px);
    background-color: rgb(30, 35, 40);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    
}
.weather-data{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .location-date{
      height: 100px;
  }
  .location {
    font-size: 3.2rem;
    
  }
  
  .temperature {
      font-size: 1.8rem;
      top: -43px;
      margin-left: 1rem;
  
      
  }

.date-time{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.weather-state{
    position:absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 6rem;
    
}
.icon{

    height: 5rem;
    position: relative;
    display: flex;
    justify-self: center;
    top: -10%;
}
.condition{
    position: relative;
    display: flex;
    justify-self: center;
    top:-16%;
    
}
